<div class="parent-profile">
  <div class="background-light my-favorite-city-photo" style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.50) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('<%= cl_image_path @favorite_cities.last.city.photos.last.key %>');">
  <!-- photo de la ville pref avec le nom de la ville au milieu -->
    <h3 class="testh3">VILLE PREFEREE</h3>
    <h1 class="testh1"><%= @favorite_cities.last.city.name %></h1> 
  </div>

  <div class="background-light user-details card">

      <div class="mx-auto my-auto">
        <%=  cl_image_tag @user.avatar.key, width: 150, height: 150, crop: :fill, style: "border-radius: 50%;" %>
      </div>
    <div class="mx-auto my-auto">
      <h3> <%= @user.nickname %> l'aventurier! </h3>
    </div>
  </div>

  <div class="illustration-memphis" style="background-image: url('<%= image_path("profile-banner.png") %>');"> </div>

  <div class="background-light last-pois">
    <% @my_pois.last(3).each do |poi| %>
      <div class="card-poi-profile" style="background-image: url('<%= cl_image_path poi.photos.first %>');">

      </div>
    <% end %>
  </div>

  <div class="background-light statistic-1 d-flex align-items-center justify-content-center">
    <!-- nombre de poi liké -->
    <h3> Plus de <%= @favorites_pois.count %> endroits te font rever! </h3>
  </div>

  <div class="background-light favorites-cities-list">
    Viens voir les coups de coeurs de tes villes préférées!
    <% @user.favorite_cities.each do |favorite_city| %>
      <%= link_to favorite_city.city.name, city_path(favorite_city.city) %>
    <% end %>
  </div>

  <div class="background-light statistics-2 d-flex align-items-center justify-content-center">
    <!-- nb de review laissé -->
    <div class="mx-auto my-auto">
      <h3> Déjà <%= @user.reviews.count %> reviews laissés! </h3>
    </div>
  </div>

  <div class="background-light city-form">
    Ajoute ... à tes favoris
    <!-- ... = collection des villes qu'on peut rajouter -->
  </div>

</div>
