<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky d-flex bd-highlight mb-3">
  <%= link_to root_path, class: "navbar-brand p-2 bd-highlight" do %>
      <i class="far fa-paper-plane"></i>
      <% end %>


    <div class="left-navbar">
      <div class="search-bar p-2 bd-highlight pl-4">
        <div class="wrap">
          <%= form_tag cities_path, method: :get, class: "search" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Trouve ta ville",
              class: "searchTerm"
            %>
            <%= button_tag(type: "submit", class: "searchButton ") do %>
              <i class="fa fa-search"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Mes coups de coeurs", "#", class: "nav-link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "On part où ?", search_cities_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.avatar.key, width: 40, height: 40, crop: :fill,  class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Profil", profile_path, class: "dropdown-item" %>
            <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
