<!-- Homepage -->
<div class="homepage background-light">
  <!-- BANNER -->
  <div class="banner" style="background-image: url('<%= image_path("home.png") %>');">
    <!-- CONTAINER -->
    <div class="container">
      <h1>Horizon</h1>
      <p class="my-3">Les vacances approchent et tu ne sais pas où partir ? <br>
          Horizon t’aide à trouver la destination de <br> tes rêves en quelques clics </p>
        <div class="btn-home">
        <%= link_to 'C\'est parti !', search_cities_path, class: "btn-primary" %>
        </div>
    </div>
  </div>

  <!-- TEXT -->
  <div class="city-home-page pb-4">
    <h2> Les dernières idées de voyages </h2>
  </div>

  <!-- CARD CONTAINER -->


  <div class="cards-city-home d-flex justify-content-evenly">
    <!-- CARD -->
    <div class="card-city-home">
      <div class="card-image-homepage" style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url(https://images.unsplash.com/photo-1507373577388-308acd187487?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODh8fGJ1ZGFwZXN0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
        <div class="card-infos">
          <h3>Budapest</h3>
          <p>La perle du Danube</p>
        </div>
        <div class="pictos">
          <div class="meteo ">
            <%= image_tag("icone/modere.png", style: "height: 30px;") %>
          </div>
          <div class="environment ">
            <%= image_tag("icone/ville.png", style: "height: 30px;") %>
          </div>
          <div class="activite  ">
            <%= image_tag("icone/culture.png", style: "height: 30px;") %>
          </div>
          <div class="price_range ">
            <%= image_tag("icone/aise.png", style: "height: 30px;") %>
          </div>
        </div>
      </div>
    </div>

    <!-- CARD -->
    <div class="card-city-home">
      <div class="card-image-homepage" style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url(https://images.unsplash.com/photo-1514857887101-a6796efc65da?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fG1hcnNlaWxsZSUyMHBvcnR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
        <div class="card-infos">
          <h3>Marseille</h3>
          <p>La cité phocéenne</p>
        </div>
        <div class="pictos">
          <div class="meteo ">
            <%= image_tag("icone/soleil.png", style: "height: 30px;") %>
          </div>
          <div class="environment ">
            <%= image_tag("icone/ville.png", style: "height: 30px;") %>
          </div>
          <div class="activite  ">
            <%= image_tag("icone/detente.png", style: "height: 30px;") %>
          </div>
          <div class="price_range ">
            <%= image_tag("icone/pauvre.png", style: "height: 30px;") %>
          </div>
        </div>

      </div>
    </div>

    <!-- CARD -->
    <div class="card-city-home">
      <div class="card-image-homepage" style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url(https://images.unsplash.com/photo-1591169419703-4f1d74b3f3cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODR8fGxpc2JvYSUyMHNpZ2h0c2VlaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">
        <div class="card-infos">
          <h3>Lisbonne</h3>
          <p>La capitale aux mille couleurs</p>
        </div>
        <div class="pictos">
          <div class="meteo ">
            <%= image_tag("icone/soleil.png", style: "height: 30px;") %>
          </div>
          <div class="environment ">
            <%= image_tag("icone/ville.png", style: "height: 30px;") %>
          </div>
          <div class="activite  ">
            <%= image_tag("icone/divertir.png", style: "height: 30px;") %>
          </div>
          <div class="price_range ">
            <%= image_tag("icone/pauvre.png", style: "height: 30px;") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comments pb-3">
    <div class="comment">
        <p>“Grâce à horizon, j’ai trouvé à la dernière minute la destination idéale pour mes vacances. Je recommande  à 100% !”</p>
        <i class="fas fa-circle fa-2x"></i>
        <p> Léa, Product Owner chez Stuart</p>
    </div>
  </div>
</div>


