<div class="background-page p-5 background-light">

  <div class="py-4 px-4">

  </div>

  <div class="container text-center">

    <h2 class="my-3">Voici tes 3 destinations idéales !</h2>

    <div class="cards d-flex justify-content-between pt-4">
      <% @cities.each do |city| %>
      <!-- est ce que j'aurais du faire un if plusieurs photos alors .first.key si y'ena qu'1 seulement .key? -->
        <%= link_to city_path(city) do %>
          <div class="card-large p-4" style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('<%= cl_image_path city.photos.first.key, height: 440, width: 280, crop: :fill %>')">
            <div class="content pb-4">
              <h3><%= city.name %></h3>
              <h1><%= city.title %></h1>
            <!--   <p><%= city.title %></p> -->
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <p class="mt-5 mb-4">Tu n'as pas trouvé ton bonheur ?</p>
    <%= link_to "C'est reparti pour un tour", root_path, class: "btn-primary" %>
  </div>
</div>



