<div class="backgroud-page background-light">
  <div class="search-container text-center mt-5">
    <div class="progress-bar">

    </div>
    <%= form_tag cities_path, method: :get do %>
      <div class="step-1 mt-5">
        <h2> Coté météo t'es plutôt quoi? </h2>
          <div class="row">
            <div class="col-4">
              <label for="chaud">
                <input type="radio" name="weather" class="card-input-element d-none" id="chaud" value="Chaud">
                  <div class="card card-body bg-light text-center">
                       <%= image_tag("icone/soleil.png", style: "height: 100px; width: 100px;") %>
                      Je veux du soleil!
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="modéré">
                <input type="radio" name="weather" class="card-input-element d-none" id="modéré" value="Modéré">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/modere.png", style: "height: 100px; width: 100px;") %>
                    Ni chaud ni froid
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="froid">
                <input type="radio" name="weather" class="card-input-element d-none" id="froid" value="Froid">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/froid.png", style: "height: 100px; width: 100px;") %>
                    Je suis pas frileux!
                  </div>
              </label>
            </div>
          </div>
        </div>
      <div class="step-2 mt-5 hidden">
        <h2> On va jusqu'où? </h2>
          <div class="row">
            <div class="col-4">
              <label for="proche">
                <input type="radio" name="distance" class="card-input-element d-none" id="proche">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/pas_loin.png", style: "height: 100px; width: 100px;") %>
                    Je suis casanier, pas trop loin !
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="France">
                <input type="radio" name="distance" class="card-input-element d-none" id="France">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/france.png", style: "height: 100px; width: 100px;") %>
                    On reste dans le plus beau des pays !
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="Europe">
                <input type="radio" name="distance" class="card-input-element d-none" id="Europe">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/europe.png", style: "height: 100px; width: 100px;") %>
                    Jusqu'à l'infini et l'au delà ou tout prés de chez moi, peu m'importe !
                  </div>
              </label>
            </div>
          </div>
        </div>
      <div class="step-3 mt-5 hidden">
        <h2> Dans quel environnement? </h2>
          <div class="row">
            <div class="col-4">
              <label for="plage">
                <input type="radio" name="environment" class="card-input-element d-none" id="plage" value="Plage">
                  <div class="card card-body bg-light text-center">
                     <%= image_tag("icone/plage.png", style: "height: 100px; width: 100px;") %>
                    Coquillages et crustacés
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="nature">
                <input type="radio" name="environment" class="card-input-element d-none" id="nature" value="Nature">
                  <div class="card card-body bg-light text-center">
                     <%= image_tag("icone/nature.png", style: "height: 100px; width: 100px;") %>
                    Je veux aussi des grands espaces!
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="ville">
                <input type="radio" name="environment" class="card-input-element d-none" id="ville" value="Ville">
                  <div class="card card-body bg-light text-center">
                     <%= image_tag("icone/ville.png", style: "height: 100px; width: 100px;") %>
                    L'effervence des grandes mégalopoles!
                  </div>
              </label>
            </div>
          </div>
        </div>
      <div class="step-4 mt-5 hidden">
        <h2> Ce que tu préfères faire pendant les vacances... </h2>
          <div class="row">
            <div class="col-4">
              <label for="défouler">
                <input type="radio" name="activity" class="card-input-element d-none" id="défouler" value="Défouler">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/defouler.png", style: "height: 100px; width: 100px;") %>
                    Je veux me surpasser !
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="détendre">
                <input type="radio" name="activity" class="card-input-element d-none" id="détendre" value="Detendre">
                  <div class="card card-body bg-light text-center">
                     <%= image_tag("icone/detente.png", style: "height: 100px; width: 100px;") %>
                     Plutôt farniente
                  </div>
              </label>
            </div>

          </div>

          <div class="row">

            <div class="col-4">
              <label for="culture">
                <input type="radio" name="activity" class="card-input-element d-none" id="culture" value="Culture">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/froid.png", style: "height: 100px; width: 100px;") %>
                    faites moi découvrir une culture !
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="divertir">
                <input type="radio" name="activity" class="card-input-element d-none" id="divertir" value="divertir">
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/divertir.png", style: "height: 100px; width: 100px;") %>
                    Je veux m'amuser jusqu'aux aurores !
                  </div>
              </label>
            </div>

          </div>
        </div>
      <div class="step-5 mt-5 hidden">
        <h2> Une idée du budget ? </h2>
          <div class="row">
            <div class="col-4">
              <label for="economique">
                <input type="radio" name="price_range" class="card-input-element d-none" id="economique" value= 1>
                  <div class="card card-body bg-light text-center">
                    <%= image_tag("icone/pauvre.png", style: "height: 100px; width: 100px;") %>
                    Vive les minis prix!
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="normal">
                <input type="radio" name="price_range" class="card-input-element d-none" id="normal" value= 2>
                  <div class="card card-body bg-light text-center">
                    <div class="d-flex">
                      <%= image_tag("icone/aise.png", style: "height: 100px; width: 100px;") %>
                    </div>
                    Je fais attention, sans me priver
                  </div>
              </label>
            </div>

            <div class="col-4">
              <label for="cher">
                <input type="radio" name="price_range" class="card-input-element d-none" id="cher" value= 3>
                  <div class="card card-body bg-light text-center">
                    <div class="d-flex">
                      <%= image_tag("icone/riche.png", style: "height: 100px; width: 100px;") %>
                    </div>
                    Je casse la tirelire!
                  </div>
              </label>
            </div>
          </div>
          <%= submit_tag "On part où?", class: "btn btn-primary mt-5" %>
        </div>
    <% end %>
  </div>
</div>

<script>
  const step1 = document.querySelector('.step-1');
  const step1inputs = document.querySelector('.step-1').getElementsByTagName('input');
  const step2 = document.querySelector('.step-2');
  const step2inputs = document.querySelector('.step-2').getElementsByTagName('input');
  const step3 = document.querySelector('.step-3');
  const step3inputs = document.querySelector('.step-3').getElementsByTagName('input');
  const step4 = document.querySelector('.step-4');
  const step4inputs = document.querySelector('.step-4').getElementsByTagName('input');
  const step5 = document.querySelector('.step-5');
  const step5inputs = document.querySelector('.step-5').getElementsByTagName('input');

  for (const input of step1inputs) {
    input.addEventListener('click', function(event) {
      setTimeout(function() {
        step1.classList.add("hidden");
        step2.classList.remove("hidden");
      }, 300);
    });
  };

  for (const input of step2inputs) {
    input.addEventListener('click', function(event) {
      setTimeout(function() {
        step2.classList.add("hidden");
        step3.classList.remove("hidden");
      }, 300);
    });
  };

  for (const input of step3inputs) {
    input.addEventListener('click', function(event) {
      setTimeout(function() {
        step3.classList.add("hidden");
        step4.classList.remove("hidden");
      }, 300);
    });
  };

  for (const input of step4inputs) {
    input.addEventListener('click', function(event) {
      setTimeout(function() {
        step4.classList.add("hidden");
        step5.classList.remove("hidden");
      }, 300);
    });
  };
</script>




