
<div class="background-light">
  <div class="parent-city-show">
    <div class="photo1"> <img style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.25) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('https://static1.mclcm.net/iod/images/v2/114/citytheque/localite_101_3712/1200x630_100_300_000000x30x0.jpg')"> </div>

    <div class="picto-argent card">
      <div class="mx-auto my-auto">
        <% if @city.price_range == 1 %>
          <%= image_tag("icone/pauvre.png", style: "height: 60px; width: 60px;") %>
        <% elsif @city.price_range == 2  %>
          <%= image_tag("icone/aise.png", style: "height: 60px; width: 60px;") %>
        <% elsif @city.price_range == 3  %>
         <%= image_tag("icone/riche.png", style: "height: 60px; width: 60px;") %>
        <% end %>
      </div>
    </div>

    <div class="picto-meteo card">
      <div class="mx-auto my-auto">
        <% if @city.weather == "Chaud" %>
          <%= image_tag("icone/soleil.png", style: "height: 60px; width: 60px;") %>
        <% elsif @city.weather == "Modéré"  %>
          <%= image_tag("icone/modere.png", style: "height: 60px; width: 60px;") %>
        <% elsif @city.weather == "Froid"  %>
         <%= image_tag("icone/froid.png", style: "height: 60px; width: 60px;") %>
        <% end %>
      </div>
    </div>

    <div class="photo2"> <img style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.39) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('<%= cl_image_path @city.photos.second.key %>')"> </div>
    <div class="photo3"> <img style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('<%= cl_image_path @city.photos.first.key %>')"> </div>
    
    <div class="pois"> 
      <%# <h6>Les incontourbales</h6> %>
      <% @pois.sample(3).each do |poi| %>
        <%= link_to poi_path(poi) do %>
          <div class="my-poi-cards p-3 mb-3" style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.74) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('<%= cl_image_path poi.photos.first.key, height: 440, width: 280, crop: :fill %>')" >
            <div class="my-poi-info flex-column">
              <h4><%= poi.name %></h4>
              <p><%= poi.category %></p>
            </div>
            
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="picto-environement card">
      <div class="mx-auto my-auto">
        <% if @city.environment == "Plage" %>
          <%= image_tag("icone/plage.png", style: "height: 60px; width: 60px;") %>
        <% elsif @city.environment == "Nature"  %>
          <%= image_tag("icone/nature.png", style: "height: 60px; width: 60px;") %>
        <% elsif @city.environment == "Ville"  %>
          <%= image_tag("icone/ville.png", style: "height: 60px; width: 60px;") %>
        <% end %>
      </div>
    </div>

    <div class="city-name">
      <div class="p-0">
        <%= link_to city_pois_path(@city) do %>
          <h1><%= @city.name %></h1> 
        <% end %>
      </div>
    </div>

    <div class="photo4 img-fluid"> <img style="background-image: linear-gradient(360deg, rgba(39, 76, 119, 0.15) -0.45%, rgba(255, 255, 255, 0) 97.73%), url('<%= cl_image_path @city.photos.third.key %>')"> </div>
    
    <div class="city-description card text-justify p-4"> 
      <%= @city.description %> 
      <div class="favorite-city card"> 
        <% if @favorite_city %> 
          <% if @city.name = "Lisbonne" %>
            <h5><i class="fas fa-heart" font-size="20px"></i> <%= 392 %> </h5>
          <% else %>
            <%= 420 %> </h5>
          <% end %>
        <% else %>
          <%= link_to city_favorite_cities_path(@city), method: :post do %>
            <% if @city.name = "Lisbonne" %>
              <h5><i class="fas fa-heart" font-size="20px"></i> <%= 392 %> </h5>
            <% else %>
              <%= 421 %> </h5>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%= button_to "Explore la ville !", city_pois_path(@city), class: "city-show-btn btn-primary", method: :get %>
  </div>
</div>

