
<div class="container-city-show container">
  <div class="cards-city-show pt-5">
    <div class="card-title-city-show">
      <h1 class="">Explore <%= @city.name %> </h1>
    </div>
    
    <div class="d-flex justify-content-between">
      <div class="icon-city-show card"><i class="fas fa-cloud-sun" style='font-size:30px'></i></div>
      <div class="icon-city-show card"><i class="fas fa-city" style='font-size:30px'></i></div>
      <div class="icon-city-show card"><i class="fas fa-theater-masks" style='font-size:30px'></i></div>
      <div class="icon-city-show card d-flex flex-row"><i class="fas fa-euro-sign" style='font-size:30px'></i><i class="fas fa-euro-sign" style='font-size:30px'></i><i class="fas fa-euro-sign" style='font-size:30px'></i></div>
      <div class="icon-city-show card"><i class="fas fa-map-marker" style='font-size:30px'></i></div>
    </div>

    <div class="photos-city-show">
      <img style="background-image: url('<%= cl_image_path @city.photos.first.key, crop: :scale %>')" class="main-img-show mr-1">
      <div class="photos-city-show2">
        <img style="background-image: url('<%= cl_image_path @city.photos.second.key, crop: :scale %>')" class="img1 mb-1">
        <img style="background-image: url('<%= cl_image_path @city.photos.third.key, crop: :scale %>')" class="img2">

        <%# <img class="img1 mb-1" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/08/10/f8/de/rijksmuseum.jpg?w=500&h=300&s=1">
        <img class="img2" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/04/11/92/68/vondelpark.jpg?w=500&h=300&s=1"> %>
      </div>
    </div>
    

    <%= button_to "Découvre les secrets de la ville", city_pois_path(@city), class: "city-show-btn btn btn-success", method: :get %>

    <%# <button type="button" class="city-show-btn btn btn-success">Découvre les secrets de la ville</button> %>


    <h1> <%= @city.title %> </h1>
    <p>  <%= @city.description %> </p>

  </div>
</div>
