<div class="parent-city-pois">

  <div class="city-name">
    <h2><%= @city.name %></h2>
    <%= link_to "Partage ton coup de coeur", root_path, class: "btn-primary" %>
  </div>

  <div class="unmissables">
    <h4>Incontournables</h4>
    <div class="unmissables-container">
    <% @unmissables.each do |unmissable| %>
      <div class="unmissable" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path unmissable.photos.first.key, crop: :scale %>');">
        <div class="unmissable-title"><h5><%= unmissable.name %></h5><i class="far fa-heart btn-heart"></i></div>
        <% if unmissable.reviews.average(:rating) %>
          <% unmissable.reviews.average(:rating).floor.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <p>Pas encore de notes, à toi de jouer !</p>
        <% end %>
        <% if unmissable.title %>
          <p><%= unmissable.title %></p>
        <% else %>
          <p>Add pictures</p>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="map">
      <div  id="map"
            style="width: 100%; height: 780px"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div class="restaurants">
    <h4>Restaurants / bars</h4>
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path restaurant.photos.first.key, crop: :scale %>');">
        <div class="restaurant-title"><h5><%= restaurant.name %></h5><i class="far fa-heart btn-heart"></i></div>
        <% if restaurant.reviews.average(:rating) %>
          <% restaurant.reviews.average(:rating).floor.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <p>Pas encore de notes, à toi de jouer !</p>
        <% end %>
        <p><%= restaurant.title %></p>
      </div>
    <% end %>
  </div>

  <div class="activities">
    <h4>Activités</h4>
    <% @activities.each do |activity| %>
      <div class="activity" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path activity.photos.first.key, crop: :scale %>');">
        <div class="restaurant-title"><h5><%= activity.name %></h5><i class="far fa-heart btn-heart"></i></div>
        <% if activity.reviews.average(:rating) %>
          <% activity.reviews.average(:rating).floor.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        <% else %>
          <p>Pas encore de notes, à toi de jouer !</p>
        <% end %>
        <p><%= activity.title %></p>
      </div>
    <% end %>
  <div>
</div>
