<div class="parent-city-pois">

  <div class="city-name text-center">
    <p>47 commentaires</p>
    <h2><%= @city.name %><br> et ses secrets</h2>
    <div class="dynamic-pictos">

      <div class="meteo">
        <% if @city.weather == "Chaud" %>
        <%= image_tag("icone/soleil.png", style: "height: 30px;") %>
        <% elsif @city.weather == "Froid" %>
        <%= image_tag("icone/froid.png" , style: "height: 30px;") %>
        <% elsif @city.weather == "Modéré" %>
        <%= image_tag("icone/modere.png", style: "height: 30px;") %>
        <% end %>
      </div>

      <div class="environment">
        <% if @city.environment == "Ville" %>
        <%= image_tag("icone/ville.png", style: "height: 30px;") %>
        <% elsif @city.environment == "Nature" %>
        <%= image_tag("icone/nature.png", style: "height: 30px;") %>
        <% elsif @city.environment == "Plage" %>
        <%= image_tag("icone/plage.png", style: "height: 30px;") %>
        <% end %>
      </div>

      <div class="activite">
        <% if @city.activity == "Detendre" %>
        <%= image_tag("icone/detente.png", style: "height: 30px;") %>
        <% elsif @city.activity == "Divertir" %>
        <%= image_tag("icone/divertir.png", style: "height: 30px;") %>
        <% elsif @city.activity == "Culture" %>
        <%= image_tag("icone/culture.png", style: "height: 30px;") %>
        <% elsif @city.activity == "Defouler" %>
        <%= image_tag("icone/defouler.png", style: "height: 30px;") %>
        <% end %>
      </div>

      <div class="price_range">
        <% if @city.price_range == 1 %>
        <%= image_tag("icone/pauvre.png", style: "height: 30px;") %>
        <% elsif @city.price_range == 2 %>
        <%= image_tag("icone/aise.png", style: "height: 30px;") %>
        <% elsif @city.price_range == 3 %>
        <%= image_tag("icone/riche.png", style: "height: 30px;") %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="unmissables">
    <h4>Incontournables</h4>
      <div class="unmissables-container">
        <% @unmissables.each do |unmissable| %>
          <%= link_to poi_path(unmissable) do %>
            <div class="unmissable" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path unmissable.photos.first.key, crop: :scale %>');">
              <div class="unmissable-title"><h5><%= unmissable.name %></h5>
                <% if current_user && current_user.favorite_poi?(unmissable) %>
                  <i class="fas fa-heart btn-heart"></i>
                <% end %>

              </div>
              <% if unmissable.reviews.average(:rating) %>
                <% unmissable.reviews.average(:rating).floor.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              <% end %>
              <p><%= unmissable.title %></p>
            </div>
          <% end %>
        <% end %>
      <%# if !current_user && !current_user.favorite_poi?(unmissable) %>
          <%#= link_to poi_favorite_pois_path(unmissable, source: "pois_listing"), method: :post do %>
              <!--><i class="far fa-heart btn-heart"></i><-->
          <%# end %>
        <%# end %>
      </div>
  </div>

  <div class="map">
      <div  id="map"
            style="width: 100%; height: 780px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  </div>

  <div class="share-button">
  <%= link_to "Partage ton coup de coeur", new_city_poi_path, class: "btn-primary" %>
  </div>

  <div class="restaurants">
    <h4>Restaurants / bars</h4>
    <% @restaurants.each do |restaurant| %>
      <%= link_to poi_path(restaurant) do %>
        <div class="restaurant d-flex align-items-center">
          <%= cl_image_tag restaurant.photos.first.key, crop: :scale %>
          <div class="restaurant-content">
            <div class="restaurant-title d-flex justify-content-between">
              <h5><%= restaurant.name %></h5>
              <% if current_user && current_user.favorite_poi?(restaurant) %>
                <i class="fas fa-heart btn-heart"></i>
              <% else %>
                <%= link_to poi_favorite_pois_path(restaurant, source: "pois_listing"), method: :post do %>
                  <i class="far fa-heart btn-heart"></i>
                <% end %>
              <% end %>
            </div>
            <% if restaurant.reviews.average(:rating) %>
              <% restaurant.reviews.average(:rating).floor.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
            <p><%= restaurant.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="activities">
    <h4>Activités</h4>
    <div class="activities-container d-flex">

    <% @activities.each do |activity| %>
      <%= link_to poi_path(activity) do %>
        <div class="activity" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path activity.photos.first.key, crop: :scale %>');">
          <div class="activity-content text-center">
            <% if activity.reviews.average(:rating) %>
              <% activity.reviews.average(:rating).floor.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
            <h5><%= activity.name %></h5>
              <% if current_user && current_user.favorite_poi?(activity) %>
                <i class="fas fa-heart btn-heart"></i>
              <% else %>
                <%= link_to poi_favorite_pois_path(activity, source: "pois_listing"), method: :post do %>
                  <i class="far fa-heart btn-heart"></i>
                <% end %>
              <% end %>
            <p><%= activity.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <div>
</div>
