<div class="homepage_show" >
  <div class="banner card-image-poi-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@poi.photos.first.key) %>')">
    <div class="container">
      <div class="infos-pois">
        <p> <%= @poi.category %></p>
        <div class="favorite_pois">
          <h1> <%= @poi.name %></h1>
            <% if @favorite_poi %>
              <i class="fas fa-heart fa-lg like"></i>
            <% else %>
              <%= link_to poi_favorite_pois_path(@poi), method: :post do %>
              <i class="fa fa-heart fa-lg  unlike"></i>
              <% end %>
            <% end %>
        </div>
        <div class="rating_poi">
          <p> <%= @poi.price_range %> </p>
          <p class="ml-4"> <%= @poi.address %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="description_poi">
      <p> <%= @poi.description %> </p>
      <%= link_to 'Ajoute un commentaire', "#", class: "btn-primary", id:"open-modal-btn"%>
    </div>

    <div class="cards_reviews">
      <% @reviews.each do |review| %>
        <div class="cards_review">
            <div class="mt-5">
            <%= cl_image_tag review.user.avatar.key, width: 40, height: 40, crop: :fill,  class: "avatar dropdown-toggle"%>
            </div>
          <h5 class="my-3"><%= review.title %></h5>
            <% if review.rating == 5 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <% elsif review.rating == 4 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <% elsif review.rating == 3 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <% elsif review.rating == 2 %>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <% elsif review.rating == 1 %>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <% end %>
          <p class="my-3"><%= review.description %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="modal" id="poi-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"> Ecris un avis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

       <form>
        <div class="modal-body ml-2">
          <div>
            <label for="name"> Titre </label>
            <input type="text" id="titre" name="user_name">
          </div>
           <div>
            <label for="name"> Notes </label>
            <input type="integer" id="notes" name="user_name">
          </div>
          <div>
            <label for="name"> Description </label>
            <input type="text" id="description" name="user_name">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
      </form>

      </div>
    </div>
  </div>
</div>

